* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.6;
}

h1 {
    font-size: 80px;
    font-weight: 1000;
    margin-bottom: 20px;
    color: #f5f5f5;
    text-shadow: 0px 6px 0px rgba(0, 0, 0, 1);
}

p {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: left;
    max-width: 500px;
}

ul {
    padding-left: 20px; /* indent the list */
    list-style-type: none; /* normal bullets */
}

li {
    background: none; /* remove the white box */
    padding: 5px 0;   /* small spacing between items */
    font-size: 24px;  /* keep text readable */
    color: #fff;      /* white text on dark background */
}

a {
    color: #fff;
    background-color: #ff6600;
    text-decoration: none;
    font-weight: 800;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 30px;
    transition: all 0.3s ease;
        text-shadow: rgb(0, 0, 0) 0px 2px 0px;
}

a:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}


#controls {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 850;
    color: white;
    font-family: "Roboto", sans-serif;
    text-shadow: rgb(0, 0, 0) 0px 3px 0px;
    text-align: center;
}