body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
}

.no-touch {
    touch-action: none;
}

.pixelated {
    image-rendering: pixelated;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 100px;
    height: 100px;

    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(1800deg); }
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hud {
    width: auto !important;
    height: auto !important;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    pointer-events: none; /* keeps input working */
    z-index: 10;          /* above canvas */
    color: rgb(75, 75, 75);
    text-shadow: black 0px 2px 0px;
}

#hud2 {
    width: auto !important;
    height: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* perfectly center */

    pointer-events: none; /* lets clicks pass through */
    z-index: 9999;        /* above canvas */
    text-align: center;
}

#hud2 .line1 {
    color: white;
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-shadow: rgb(0, 0, 0) 0px 6px 0px;
}

#hud2 .line2 {
    color: white;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-shadow: rgb(0, 0, 0) 0px 4px 0px;
}

#death-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* black with 60% opacity */
    display: none; /* hidden by default */
    z-index: 998;  /* just below hud2 */
}

